# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode

# Directories
model/
mlruns/
results/

# File Extensions
*.pyc
*.temp
*.git

# Environment Variables
.env

# Installer logs
pip-log.txt